<div class="row">
	<div class="panel panel-default">
		<div class="panel-heading"> About the team </div>
		<div class="panel-body">
			<div class="col-sm-24 col-md-12">
				<p class="text-center">Plan E for Epic! <br>
				A game development team formed during a game development training course.

				</p>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="panel panel-default">
		<div class="panel-heading"> About the members </div>
		<div class="panel-body">
			<div class="col-sm-6 col-md-3">
				<a href="#" class="thumbnail">
				<p class="text-center">Pekka <br>
				Team resident do-it-all wizard. Mainly works as a programmer.
				</p>
				</a>
			</div>
	
	
			<div class="col-sm-6 col-md-3">
				<a href="#" class="thumbnail">
				<p class="text-center"> Juho <br>
				The master of all code \o.
				</p>
				</a>
			</div>
			<div class="col-sm-6 col-md-3">
				<a href="#" class="thumbnail">
				<p class="text-center"> Niina <br>
				The brilliance behind the story.
				</p>
				</a>
			</div>
			<div class="col-sm-6 col-md-3">
				<a href="#" class="thumbnail">
				<p class="text-center"> Petri <br>
				You want art? You can't handle the art Petri makes. So epic.
				</p>
				</a>
			</div>
		</div>
	</div>
</div>