<div class="row">
	<div class="panel panel-default">
		<div class="panel-heading"> <h2>About the team</h2> </div>
		<div class="panel-body">
			<div class="col-sm-24 col-md-12">
				<p class="text-center">Sumu Games! <br>
				A game development team formed during a game development training course.

				</p>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="panel panel-default">
		<div class="panel-heading"> <h2>About the members</h2> </div>
		<div class="panel-body">
			<div class="col-sm-6 col-md-3">
				<img src="images/pekka_kuva.JPG" height="100" width="100"/>
				<p class="text-center">Pekka <br>
				Team resident do-it-all wizard. Mainly works as a programmer, producer and project manager. GG
				</p>
				
			</div>
	
	
			<div class="col-sm-6 col-md-3">
				
				<p class="text-center"> Juho <br>
				The master of all code \o.
				</p>
				
			</div>
			<div class="col-sm-6 col-md-3">
				
				<p class="text-center"> Niina <br>
				The brilliance behind the story.
				</p>
				
			</div>
			<div class="col-sm-6 col-md-3">
				
				<p class="text-center"> Petri <br>
				You want art? You can't handle the art Petri makes. So epic.
				</p>
				
			</div>
		</div>
	</div>
</div>