<div class="row">
  <div class ="col-sm-24 col-md-12">
    
  </div>

</div>

<div class="row">
  <div class="col-sm-24 col-md-12">
	<div class="panel panel-default">
		<div class="panel-body">
			
				<p class="text-center"><h2>Albion</h2> <h5>(project name)</h5> <br>
				A story of a man, seeking his past memories and trying to escape a mysterious ever-changing island. <br>
				
				
				</p>
			</div>
		</div>
	</div>
</div>

<div class="row">
  <div class="panel panel-default">
    <!--<div class="panel-heading"> The Game! </div>-->
    <div class="panel-body">
      <div class="col-sm-24 col-md-12">
        <p class="text-center">
          <h2> Features </h2>
          <!--<ul class="list-group">-->
          <!--<li  class="list-group-item">--><li>Randomly generated island</li>
          <!--<li  class="list-group-item">--><li>Strong story about a mysterious island and the lineage of a family</li>
          <li>Combat system with feel for rhytm and combinations</li>
          <li>For the PC</li>
          <!--</ul>-->
        </p>
      </div>
    </div>

<script type="text/javascript">
  $(document).ready(function(){
    $('.carousel').carousel();
  });
</script>

<script>
$('carousel-control.left').click(function() {
  $('#myCarousel').carousel('prev');
});

$('carousel-control.right').click(function() {
  $('#myCarousel').carousel('next');
});
</script>

<script>
function addPictures(){
var i = 0;
//For every Image, add the right picture
for each (image in singleGamePost.images){
  if (i = 0){
    <div class="item active">
      <img src="images/Amber.png">
    </div>
  }
  else{
        
    <div class="item">
      <img src="images/Hero_back_v2.png">
    </div>  
  }
  i++;
}
}
</script>