<p> Testidataa postauksesta: {{singleBlogPost.id}}</p>
<br>
<br> {{singleBlogPost.title}}
<br> {{singleBlogPost.body}}
<br> {{singleBlogPost.author}}
<br>



<!-- Comments -->

<!--<button ng-click="addComment()">Comment!</button>-->

<form ng-submit="addComment()">
	<input type="text" placeholder="Title" ng-model="formtitle"></input>
	<input type="text" placeholder="Text" ng-model="formtext"></input>
	<input type="text" placeholder="Author" ng-model="formauthor"></input>
	<button type="submit">Comment</button>
</form>

<!-- Show all comments about this post -->
<div ng-repeat="comment in comments | orderBy: '-upvotes'">
<table class="table">
	<span ng-click="incrementUpvotes(comment)">^</span>
	<tr>Otsikko:{{comment.title}}</tr>
	<td>Author:{{comment.author}}</td>
	<td>Upvotes: {{comment.upvotes}}</td>
	<td>Text: {{comment.body}}</td>
</div>
</table>
